
<table mat-table [dataSource]="classList">
  <div> 
      <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id.</th>
          <td mat-cell *matCellDef="let element" (click)="editClass(element)">{{element.id}}</td>
      </ng-container>
    
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>
    
      <ng-container matColumnDef="classTeacher">
          <th mat-header-cell *matHeaderCellDef>Class Teacher</th>
          <td mat-cell *matCellDef="let element">{{element.classTeacher.name}}</td>
        </ng-container>
    
        <ng-container matColumnDef="noofstd">
            <th mat-header-cell *matHeaderCellDef>No of Students</th>
            <td mat-cell *matCellDef="let element">{{element.studentsList.length}}</td>
          </ng-container>
    
    
          <ng-container matColumnDef="noofsbj">
              <th mat-header-cell *matHeaderCellDef>No of Subject</th>
              <td mat-cell *matCellDef="let element">{{element.subjectList.length}}</td>
            </ng-container>
  </div>
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns:displayedColumns;"></tr>
</table>
<br/>
<button type="button" mat-raised-button color="primary" (click)="addNewClass()">Add</button>
