<div class="alert alert-danger" *ngIf="errorMessage">
    {{errorMessage}}
  </div>
  
  <!--  {{studentForm.value | json}}-->
  <mat-card>
    <mat-card-header>
      <mat-card-title>Student Management</mat-card-title>
      <mat-card-subtitle>Add or Edit Student</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form  [formGroup]="studentForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="example-quarter-width">
                <input type="text" matInput placeholder="Name" formControlName="name" >
            </mat-form-field>
         
            <mat-form-field class="example-quarter-width">
                <div formGroupName="schoolClass">
                  
                    <mat-select placeholder="Class" formControlName="id" >
                        <mat-option value="0">Select One</mat-option>
                        <mat-option *ngFor="let c of classArr" value="{{c.id}}">{{c.name}}</mat-option>
                      </mat-select>
                  </div>
            </mat-form-field>
           
         
            <mat-form-field class="example-quarter-width">
             <input type="text" matInput placeholder="Roll Number" formControlName="rollNumber" >
            </mat-form-field>
            <mat-form-field class="example-quarter-width">
             <input type="number" matInput placeholder="Age" formControlName="age" >
            </mat-form-field>
           
           Sex: <mat-radio-group placeholder='Sex' formControlName="sex" class="example-full-width">
             <mat-radio-button  value="M" >Male</mat-radio-button>
             <mat-radio-button  value="F" >Female</mat-radio-button>
           
           </mat-radio-group><br/>
           
           <mat-form-field class="example-full-width">
             <textarea matInput placeholder="Address" formControlName="address"></textarea>
           </mat-form-field><br/>
           
           <mat-form-field class="example-quarter-width">
             <input type="text" matInput placeholder="Contact Number" formControlName="phoneNumber" >
           </mat-form-field>
           
           
           <mat-form-field class="example-quarter-width">
             <input type="email" matInput placeholder="Email" formControlName="email" >
           </mat-form-field>
           
           <mat-form-field class="example-quarter-width">
             <input type="date" matInput placeholder="Date of birth" formControlName="dob">
            </mat-form-field>
         
            <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        Parent1 Details
                    </mat-panel-title>
                    <mat-panel-description>
                    Add or Edit Parent1
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  
                  
                  <app-parent [parent1]="student.parent1" 
                  (onParent)="onParentLoad($event,'parent1')" ></app-parent>
                
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                          Parent2 Details
                      </mat-panel-title>
                      <mat-panel-description>
                      Add or Edit Parent2
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                      <app-parent [parent2]="student.parent2" 
                    (onParent)="onParentLoad($event,'parent2')"></app-parent>
                  </mat-expansion-panel>
                </mat-accordion>
                <br/><br/>
            <button type="submit" mat-raised-button color="primary">Submit</button>&nbsp;
            <button type="button" (click)="goToBack()" mat-raised-button>Back</button>
           </form>
    </mat-card-content>
  </mat-card>

  