 <div class="alert alert-danger" *ngIf="errorMessage">
   {{errorMessage}}
 </div>
 <mat-card class="example-card">
   <mat-card-header>
     <mat-card-title>School Information</mat-card-title>
     <mat-card-subtitle>Edit</mat-card-subtitle>
   </mat-card-header>
   <mat-card-content>
      <form #schoolForm="ngForm" >
          
         <!-- NgForm : {{schoolForm.value | json}}-->
          <!--Model: {{school | json}}-->
              <mat-form-field class="example-quarter-width">
              <input matInput placeholder="Shool Name" id="name" #name="ngModel" required
               [(ngModel)]="school.name" name="name" >
            </mat-form-field>
            
            <mat-form-field class="example-quarter-width">
              
                <input matInput placeholder="Contact Number" required id="contact_number" type="tel" pattern="^\d{10}$" #phone="ngModel" 
                 name="contact_number" [(ngModel)]="school.contactNumber" [class.is-invalid]="phone.invalid && phone.touched"
                 >
                 <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
                    <small class="text-danger" *ngIf="phone.errors.required">Phone Number is required</small>
                    <small class="text-danger" *ngIf="phone.errors.pattern">Phone number must be 10 digit</small>
                  </div>
            </mat-form-field>
          
            <mat-form-field class="example-quarter-width">
                <mat-select placeholder="State"  id="state" (blur)="loadDistrict(school.state)" 
                [(ngModel)]="school.state" name="state" #state="ngModel" [class.is-invalid]="stateHasError && state.touched">
                  <mat-option value="default">Select One</mat-option>
                  <mat-option *ngFor="let state of stateArr" value="{{state.name}}">{{state.name}}</mat-option>
                </mat-select>
                <small class="text-danger" [class.d-none]="state.untouched || !stateHasError">State is required</small>
              </mat-form-field>
              
            
              
                  <mat-form-field class="example-quarter-width">
                  <mat-select placeholder="District" id="district" class="form-control" name="district" [(ngModel)]="school.district">
                    <mat-option *ngFor="let district of districtArr" value="{{district.name}}">{{district.name}}</mat-option>
                  </mat-select>
                </mat-form-field>

             <mat-form-field class="example-full-width">
                <textarea matInput id="address" placeholder="Address" name="address" [(ngModel)]="school.address"> </textarea>
              </mat-form-field>
           
          <mat-form-field class="example-quarter-width">
            <input matInput placeholder="Registration Number" id="registration_number" class="form-control">
          </mat-form-field>
          <mat-form-field class="example-quarter-width">
        
            <input matInput placeholder="Affiliated By" id="affiliated_by" class="form-control">
          </mat-form-field>
        
          <mat-form-field class="example-quarter-width">
            
            <input matInput placeholder="Affiliation Number" id="affiliation_number" class="form-control">
          </mat-form-field>
         
          
          <!--{{schoolForm.form.invalid +" ::: "+ stateHasError}}-->
        </form>
   </mat-card-content>
   <mat-card-actions>
      <button [disabled]="schoolForm.form.invalid || stateHasError" mat-raised-button color="primary"
           (click)="updateSchool(school)">Update</button>
   </mat-card-actions>
 </mat-card>


