 <div class="alert alert-danger" *ngIf="errorMessage">
   {{errorMessage}}
 </div>
<div class="col-md-6">
<form #schoolForm="ngForm">
 <!-- NgForm : {{schoolForm.value | json}}
  <hr/>
  Model: {{school | json}}-->
  <div class="form-group">

      <label>Name: </label>
      <input id="name" #name="ngModel" required type="text" class="form-control" [(ngModel)]="school.name" name="name"
      [class.is-invalid]="name.invalid && name.touched">
      <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
  </div>
  <div class="form-group">
      <label>Adress: </label>
    <textarea id="address" class="form-control" name="address" [(ngModel)]="school.address"> </textarea>
  </div>
  <div class="form-group">
      <label>Contact Number: </label>
      <input required id="contact_number" type="tel" pattern="^\d{10}$" #phone="ngModel" class="form-control" 
       name="contact_number" [(ngModel)]="school.contactNumber" [class.is-invalid]="phone.invalid && phone.touched"
       >
       <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
          <small class="text-danger" *ngIf="phone.errors.required">Phone Number is required</small>
          <small class="text-danger" *ngIf="phone.errors.pattern">Phone number must be 10 digit</small>
        </div>
  </div>
  <div class="form-group">

  <label>State: </label>
  <select (change)="isValidState(state.value)" (blur)="isValidState(state.value)" id="state" class="form-control"  (change)="loadDistrict($event.target.value)" 
  [(ngModel)]="school.state" name="state" #state="ngModel" [class.is-invalid]="stateHasError && state.touched">
    <option value="default">Select One</option>
    <option *ngFor="let state of stateArr" value="{{state.name}}">{{state.name}}</option>
  </select>
  <small class="text-danger" [class.d-none]="state.untouched || !stateHasError">State is required</small>
  </div>

  <div class="form-group">

    <label>District: </label>
    <select id="district" class="form-control" name="district" [(ngModel)]="school.district">
      <option *ngFor="let district of districtArr" value="{{district.name}}">{{district.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Registration Number:</label>
    <input id="registration_number" class="form-control">
  </div>

  <div class="form-group">
    <label>Affiliated By:</label>
    <input id="affiliated_by" class="form-control">
  </div>

  <div class="form-group">
    <label>Affiliation Number:</label>
    <input id="affiliation_number" class="form-control">
  </div>

  <button [disabled]="schoolForm.form.invalid || stateHasError" class="btn btn-success" (click)="updateSchool(school)">Update</button>
  <!--{{schoolForm.form.invalid +" ::: "+ stateHasError}}-->
</form>
</div>
